@if (!state.isGameOver) {
    <div class="player">
        <h2>Current Value: {{ lastValue }}</h2>
        <div class="cards">
            <div class="player-cards">
                <h3>Current Hand:</h3>
                <div class="player-hand">
                    @for (tile of state.playerHand; track tile.id) {
                        <div class="tile">
                            <span class="tile-value">{{ tile.value }}</span>
                            @if(tile.type === 'dragon') {
                                <img class="card-image" [src]="'assets/images/' + tile.image" alt="{{ tile.label }}">
                            } @else if(tile.type === 'wind') {
                                <span>{{ tile.label }}</span>
                                <img class="card-image" [src]="'assets/images/' + tile.image" alt="{{ tile.label }}">
                            } @else {
                                <img class="card-image" [src]="'assets/images/' + tile.image" alt="{{ tile.label }}">
                            }
                        </div>
                    }
                </div>
            </div>
            <!-- Display Previous Hand -->
            <div class="player-score">
                <h2>Previous Hand:</h2>
                <div class="history">
                    @for (tile of state.playerPreviousHand; track tile.id) {
                    <div class="tile">
                            <span class="tile-value">{{ tile.valueChange ?? tile.value }}</span>
                            <img class="card-image" [src]="'assets/images/' + tile.image" alt="{{ tile.label }}">
                        </div>
                    }
                </div>
            </div>


            <div class="game-cards">
                <h3>Deck</h3>
                <div class="discard-pile">
                    <h4>Discard Pile:</h4>
                    {{ state.discardPile.length }}
                </div>
                <div class="draw-pile">
                    <h4>Draw Pile:</h4>
                    {{ state.drawPile.length }}
                </div>
                <div class="draw-pile">
                    <h4>Shuffle Count:</h4>
                    {{ state.shuffleCount }}
                </div>
            </div>
        </div>
        
    </div>

    <div class="actions">
        <button class="btn bet" (click)="predict('higher')">Bet Higher</button>
        <button class="btn bet" (click)="predict('lower')">Bet Lower</button>
    </div>
}

@if(state.isGameOver) {
    <div class="game-over">
        <h1>Game Over!</h1>
        <p>{{ state.reason }}</p>
        <p>Your final score: {{ this.lastValue }}</p>
        <button  class="btn" (click)="restart()">Play Again</button>
    </div>
}

<div class="leaderboard">
    <h2>Top 5 Scores</h2>
    <div class="scores">
        @for(tile of this.topFiveScores; track tile.score) {
        <div class="score-entry">
            <span>Score: {{ tile.score }}</span>
            <p>Outcome: {{ tile.outcome }}</p>
            <div class="hand-preview">
                @for (t of tile.tile; track t.id) {
                    <div class="tile">
                        <span class="tile-value">{{ t.valueChange ?? t.value }}</span>
                        <img class="card-image" [src]="'assets/images/' + t.image" alt="{{ t.label }}">
                    </div>
                }
            </div>
        </div>
    }
    </div>
</div>

<div class="game-btn">
    <button class="exit" routerLink="">Exit Game</button>
</div>