.player {
  margin-top: 20px;
  text-align: center;
}

.player-hand,
.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.history {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.tile {
  background-color: #00674f;
  color: #fff;
  border: #fff solid 2px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  width: 50px;
}
