.app-landing {
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-container {
  margin-top: 40px;
}

.leaderboard {
  margin-top: 50px;
  text-align: center;
}
